.mat-toolbar{
  background: rgb(40,40,40);
}

.mat-toolbar a{
    text-decoration: none;
	font: 30px/1.5 ROBOTO;
	margin: .5em;
    padding: .3em;
    height: 1.6em;
	color: rgb(240,240,240);
}

.mat-toolbar a:hover{
	left: 0;
    margin: .5em;
    padding: .3em;
    height: 1.6em;
    border-radius: 6px;
    background: rgb(70,70,70);
}