  h2 span{
    left: 0;
    margin: .5em;
    padding: .3em;
    height: 1.6em;
    border-radius: 6px;
    font: 400 40px/1.5 ROBOTO ;
    color: rgb(210,210,210);
  }
   
  ul {
    list-style-type: none;
    margin: .5em;
    padding: .3em;
  }
   
  li {
    font: 200 20px/1.5 ROBOTO;
    margin-left: 1.7em;
    padding: 0.2em;
    color: rgb(255,255,255);
  }
