<h2> <span>Form</span> </h2>

<label><span>Name:</span>
	<input type="text" [formControl]="new_form_name" placeholder="Enter Name">
</label>
<br>
<label><span>Email: </span>
	<input type="email" [formControl]="new_form_email" placeholder="Enter Email">
</label>
<br>

<span>Select Feedback:</span> <br>
<input class="form-check-input" 
	   type="radio" id="Great" name="feedback" value="Great" (change)="onItemChange($event.target.value)">
<label for="great">Great</label>

<input class="form-check-input" 
	   type="radio" id="Okay" name="feedback" value="Okay" (change)="onItemChange($event.target.value)">
<label class="form-check-input" for="okay">Okay</label>

<input class="form-check-input" 
       type="radio" id="Not good" name="feedback" value="Not good" (change)="onItemChange($event.target.value)">
<label for="not_good">Not Good</label>

<br>
<label>
	<span>Comments:</span> <br>
	<textarea [formControl]="new_form_comments" rows="6" cols="35"></textarea>
</label>
<br>

<button (click)="submit()">
	Submit!
</button>