  h2 span{
    left: 0;
    margin: .5em;
    padding: .3em;
    height: 1.6em;
    border-radius: 6px;
    font: 400 40px/1.5 ROBOTO ;
    color: rgb(255,255,255);
  }
   
  ul {
    list-style-type: none;
    margin: .5em;
    padding: .3em;
  }
   
  li {
    font: 200 20px/1.5 ROBOTO;
    margin-left: 1.7em;
    padding: 0.2em;
    color: rgb(255,255,255);
  }

  span {
    font: 200 20px/1.5 ROBOTO;
    color: rgb(255,255,255);
    margin-left: 1.7em;
    padding: 0.2em;
  }

  label {
    font: 200 20px/1.5 ROBOTO;
    color: rgb(255,255,255);
  }

  label span{
    margin-left: 1.7em;
    margin-right: 0.2em;
    padding: 0.2em;
  }

  input{
    background: rgb(90,90,90);
    border: 2px solid rgb(50,50,50);
    padding: 10px 15px;
    font: 200 20px/1.5 ROBOTO;
    color: rgb(255,255,255);
    border-radius: 4px;
    margin-bottom: 0.3em;
  }

  textarea{
    background: rgb(90,90,90);
    border: 2px solid rgb(50,50,50);
    margin-left: 1.7em;
    padding: 10px 15px;
    font: 200 20px/1.5 ROBOTO;
    color: rgb(255,255,255);
    border-radius: 4px;
    margin-bottom: 0.3em;
  }

  input[type=radio]{
    margin-left: 1.7em;
    margin-bottom: 0.6em;
  }

  button{
    margin-top: 1em;
    margin-left: 10.7em;
    font: 200 20px/1.5 ROBOTO;
    background: rgb(200,200,200);
    color: rgb(40,40,40);
  }