<h2> <span>Form</span> </h2>

<label><span>Name:</span>
	<input type="text" [formControl]="new_form_name" placeholder="Enter Name">
</label>
<br>
<label><span>Email : </span>
	<input type="email" [formControl]="new_form_email" placeholder="Enter Email">
</label>
<br>

<form [formGroup]="feedback_form">
	<div class="feedback_form-group">
		<label for="feed"><span>Select Feedback:</span></label>
		<div>
			<input id="Great" type="radio" value="Great" name="feed" formControlName="feed"/>
			<label for="Great">Great</label>
		</div>

		<div>
			<input id="Okay" type="radio" value="Okay" name="feed" formControlName="feed">
			<label for="Okay">Okay</label>
		</div>

		<div>
			<input id="Not good" type="radio" value="Not good" name="feed" formControlName="feed">
			<label for="Not good">Not good</label>
		</div>
	</div>
</form>

<label>
	<span>Comments:</span> <br>
	<textarea [formControl]="new_form_comments" rows="6" cols="35"></textarea>
</label>
<br>

<button (click)="submit()">
	Submit!
</button>

<div *ngIf="data">
	<h2>
		<span>Data returned from server:</span>
	</h2>
	<span>
	Name: {{ data.name }} <br>
	</span>
	<span>
	Email: {{ data.email }} <br>
	</span>
	<span>
	Feedback: {{ data.feedback }} <br>
	</span>
	<span *ngIf="data.comment"> Comment: {{ data.comment }} </span>
</div>
